nepalwin.space {
    reverse_proxy backend:3003
}

admin.nepalwin.space {
    # Redirect root path to /admin
    @root path /
    redir @root /admin 302

    # Serve admin UI (static) from frontend container
    reverse_proxy /admin* frontend:80

    # API routes go to backend
    reverse_proxy /api* backend:3003

    # Security headers
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
    }
}


spin.nepalwin.space {
    reverse_proxy frontend:80
}