nepalwin.space {
    reverse_proxy backend:3003
}

admin.nepalwin.space {
    # Redirect root path to /admin
    @root path /
    redir @root /admin 302

    # Proxy admin and api routes to backend
    reverse_proxy /admin* backend:3003
    reverse_proxy /api* backend:3003

    # Security headers and compression
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
    }
}

spin.nepalwin.space {
    reverse_proxy frontend:80
}